.card {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 17px 20px 17px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Vector\(1\).svg);
  cursor: pointer;
  width: 21px;
  height: 18px;
  border: 0;
  margin-left: 3px;
  padding-right: 16px;
}

.card__like-button:hover {
  opacity: 50%;
}
