.footer__text {
  margin: 45px auto 45px auto;
  color: #545454;
  max-width: 880px;
}

@media screen and (max-width: 900px) {
  .footer__text {
    display: grid;
    justify-content: flex-start;
    width: 575px;
  }
}

@media screen and (max-width: 580px) {
  .footer__text {
    display: grid;
    justify-content: flex-start;
    width: 282px;
  }
}
