.footer__text {
  margin: 45px 0 45px 0;
  color: #545454;
}

@media screen and (max-width: 778px) {
  .footer__text {
    margin: 45px 0 45px 90px;
  }

  .profile__add-button {
    margin-top: 65px;
  }
}

@media screen and (max-width: 340px) {
  .footer__text {
    margin: 45px 0 45px 20px;
  }
}
