.header {
  max-width: 880px;
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.header__image {
  margin-bottom: 45px;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 330px) {
  .header__image {
    width: 126px;
    height: 24px;
    margin: 0 0 26px 25px;
  }
  .header {
    max-width: 891px;
    border-bottom: 1px solid #545454;
    margin: 28px -25px 0px -25px;
    padding: 0;
  }
}
