.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
  height: 120px;
  margin-top: 40px;
  gap: 0px;
}

.profile__add-button {
  background: transparent url(/images/Add\ Button.png) no-repeat;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 0;
}

.profile__pic {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__edit-button {
  background: transparent url(/images/Edit\ Button.png) no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  height: 23px;
  width: 23px;
  margin: 14px 0 0 0;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 415px) auto;
  width: 415px;
  height: 39px;
  margin-left: 23px;
  gap: 0px;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: "title";
  margin: 0;
  max-width: 414px;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: "description";
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: clip;
}

.profile__image {
  height: 120px;
  width: 120px;
}
