.footer__img {
  width: 318px;
  height: 18px;
  margin-top: 45px;
  opacity: 0px;
}
@media screen and (max-width: 330px) {
  .footer__img {
    width: 282px;
    height: 14px;
    margin-top: 45px;
    opacity: 0px;
  }
}
