.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.page-section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 330px) {
  .page {
    margin: 0 19px 0 19px;
  }
}

@media screen and (max-width: 800px) {
  .page {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0 25px 0 25px;
  }
}
@media screen and (min-width: 850px) {
  .page {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 200px 0 200px;
  }
}
