@media screen and (max-width: 330px) {
  .page {
    margin: 0 19px 0 19px;
  }
  .profile {
    flex-direction: column;
    height: 288px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 51px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
    max-width: 414px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .profile__description {
    margin-right: 39px;
    display: flex;
    justify-content: center;
  }

  .profile__add-button {
    background: transparent url(/images/Add\ Button.svg) no-repeat;
    cursor: pointer;
    display: flex;
    width: 285px;
    margin: 73px 0 0 0;
  }
  .profile__edit-image {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
  }
  .profile__edit-button {
    background: transparent url(/images/Edit\ Button.png) no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 18px;
  }
  .footer__img {
    width: 282px;
    height: 14px;
    margin-top: 45px;
    opacity: 0px;
  }
  button:hover {
    opacity: 60%;
  }
}
