@media screen and (min-width: 850px) {
  .page {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 200px 0 200px;
  }
}
